<div *ngIf="role=='WASHER';else elseblock">
  <h2> Logout and login as user.</h2>
</div>
<ng-template #elseblock>
<nav class="navbar">
  <input class="form-control" type="text" name="washerName" [(ngModel)]="washerName" (ngModelChange)="Search()" placeholder="Enter washer name to search">
</nav>
<h1>Washer Ratings</h1>
<div *ngFor=" let rating of ratings | paginate:{itemsPerPage:4,currentPage:p};let i= index">
  <br>
      <div class="card mx-auto"style="width:70rem">
        <div class="card-body">
          <h2 class="card-title">{{rating.washerName}}</h2>
          <p class="card-text">{{rating.comments}}</p>
          <!-- <a href="#" class="btn btn-primary">{{rating.ratings}}</a> -->
          <p class="card-text">{{rating.rating}} </p>
            <div *ngFor="let in of counter(rating.rating);let i=index"id="container">
                <div class="some-class"><img src="assets/Images/star_2b50.png" width=18px alt="Close"> </div>
            </div>
            <div *ngFor="let in of counter(5-rating.rating);let i=index"id="container">
              <div class="some-class"><img src="assets\Images\blankStar.png" width=18px alt="Close"> </div>
          </div>
        </div>
      </div>
</div> 
<div style="padding-top:50px">
  <pagination-controls (pageChange)="p=$event"style="text-align:center"></pagination-controls>
  </div>  
</ng-template>


