<nav class="navbar navbar-custom sticky-top"><!--navbar-dark bg-primary -->
    <div class="container-fluid">
      <img src="\assets\Images\logo.jpg"style="width:100px;height:50px"><a class="navbar-brand" href="#"><h1 >CARWASH</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/customer/viewWashpacks">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminLogin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/washerLogin">Washer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/customerLogin">Customer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>