 <head>
        <meta charset="UTF-8"><!--href="styles.css"-->
        <title>Side Navigation Bar</title>
        <link rel="stylesheet" >
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>
    <body>
    
    <div class="wrapper">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                <li><a routerLink="/customer/placeOrder">Place Order</a></li>
                <li><a routerLink="/customer/pendingOrders">My Orders</a></li>
                <li><a routerLink="/customer/viewRatings">View Ratings</a></li>
                <li><a routerLink="/customer/viewWashpacks">Services</a></li>
               
            </ul> 
          
        </div>
        <div class="main_content">
            <div class="header">Welcome {{customerName}}!! Have a nice day.
           
              <span>
                <div class="dropdown my-menu" >
                  <div class="alignment">
                  <a class="btn btn-primary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                  </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLink" style="padding:10px" >
                        <li style="text-align: center;">{{customerName}}</li>
                        <li style="text-align: center;">{{customerEmail}}</li>
                          <li><a class="dropdown-item"  aria-labelledby="dropdownMenuLink">Edit Profile :</a></li>
                          <form [formGroup]="editProfileForm">
                            <div class="row">
                              <i class="fas fa-user"></i>
                             <input type="text" placeholder="Fullname" formControlName="Fullname" [(ngModel)]="user.fullname"style="padding-top:5px">
                            </div>
                            <div class="row button" style="padding-top:5px;padding-bottom:5px">
                              <button type="submit" value="Login" [disabled]="editProfileForm.invalid"(click)="editProfile()">Update</button>
                            </div>
                          </form>
                         <!-- <li><a class="dropdown-item" (click)="logout()" routerLink="/customer/login">Logout</a></li> -->
                        <li><a class="dropdown-item" (click)="logout()" routerLink="/home">Logout</a></li>
                      </ul>
                 </div>
                </div>
              </span>
            </div> 		
          <router-outlet></router-outlet>
      </div>
  </div>
  
  </body>

         
  
   