<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div *ngIf="(role!='ADMIN');else elseblock">
      <h2>You must be admin to access this page. Logout and login as admin.</h2>
    </div>
    <ng-template #elseblock>
    <div class="container"style="height:100%;width:100%;padding-top:70px;padding-bottom:0px">
      <div class="childcontainer"style="overflow:auto;padding:30px;padding-left:300px">
        <div class="imgcontainer"style="float:left;padding-top:30px;padding-right:20px">
          <img src="\assets\Images\addaccount.png" alt="login image"style="height:400px;width:280px">
        </div>
      <div class="wrapper"style="width:40%;float:left;height:460px">
        <div class="title"><span>Registration Form</span></div>
          <form [formGroup]="RegistrationForm">
          <div class="row">
            <i class="fas fa-user"></i>
           <input type="email" placeholder="Email" formControlName="email" [(ngModel)]="adminDetails.email">
           <small [class.d-none]="RegistrationForm.controls['email'].valid||RegistrationForm.controls['email'].untouched" class="text-danger">
            provide valid email address in lowercase
          </small>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" formControlName="password" [(ngModel)]="adminDetails.password">
            <small [class.d-none]="RegistrationForm.controls['password'].valid||RegistrationForm.controls['password'].untouched" class="text-danger">
             password should contain atlest one number, one alphabet, 8-30 characters length
            </small>
          </div>
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Fullname" formControlName="fullname" [(ngModel)]="adminDetails.fullname">
            <small [class.d-none]="RegistrationForm.controls['fullname'].valid||RegistrationForm.controls['fullname'].untouched" class="text-danger">
              name is required
            </small>
          </div>
          <div class="row button">
              <input type="submit" value="Register" (click)="registerNow()"[disabled]="RegistrationForm.invalid">
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
  </body>
</html>


